body{
	font-size: 16px;
	font-weight: 200;
}

h1{
	text-indent: -9000px;
	position: absolute;
}

h2{
	font-weight: bold;
	margin: 0 0 60px;
	font-size: 50px;
	text-transform: uppercase;

	@media (max-width: $screen-sm-min) {
		font-size: 25px;
	}

	@media (max-width: $screen-xs-min) {
		font-size: 22px;
	}
}

section{
	padding: 100px 0;

	@media (max-width: $screen-sm-min) {
		padding: 50px 0;
	}
}

.hero{
	color: black;
	height: 100vh;
	position: relative;
	padding: 0;
	opacity: 0;
	transition: all .5s ease-in;

	&.visible{
		opacity: 1;
	}

	@media (max-width: $screen-md-min) {
		height: 600px;
	}

	@media (max-width: $screen-sm-min) {
		height: 500px;
	}

	@media (max-width: 620px) {
		height: 100vh;
		background: url(../images/hero-mobile.jpg);
	}

	.mobile-logo{
		display: none;
		text-align: center;
		padding: 50px 40px 0;

		@media (max-width: 620px) {
			display: block;
		}

		img{
			width: 400px;
			max-width: 100%;
		}
	}

	.social{
		text-align: center;
		position: absolute;
		bottom: 40px;
		width: 100%;
		font-size: 40px;
		transition: all .4s ease-out;
		opacity: 0;
		bottom: 0;

		&.visible{
			opacity: 1;
			bottom: 40px;
		}

		@media (max-width: $screen-sm-min) {
			font-size: 32px;
			bottom: 30px;

			&.line-through:before, &.line-through:after{
				display: none;
			}
		}

		a{
			display: inline-block;
			margin: 0 20px;
			color: black;

			@media (max-width: $screen-sm-min) {
				margin: 0;
				width: 18%;
			}
		}

		i{
			font-size: 1em;

			&.icon-soundcloud{
				font-size: 1.2em;
			}

		}
	}
}

.about{
	padding-top: 50px;
	padding-bottom: 50px;

	.three{
		height: 682px;
		background-image: url(../images/katya.jpg);
		background-size: 935px 682px;
		background-position: center center;
		background-repeat-y: no-repeat;
		margin-bottom: 60px;

		@media (max-width: $screen-sm-min) {
			background-size: 685px 500px;
			height: 500px;
		}
	}

	.switcher{

		i{
			display: inline-block;
			margin: 0 20px;
			font-size: 50px;

			@media (max-width: $screen-sm-min) {
				font-size: 35px;
				margin: 0 10px;
			}
		}

		span{
			opacity: .5;
			cursor: pointer;

			&.active{
				opacity: 1;
			}

			&:hover{
				opacity: .75;
			}
		}

	}

	p{
		color: #444;
		font-size: 18px;
		margin: 0 auto;
		line-height: 180%;
		width: 800px;
		max-width: 100%;

		@media (max-width: $screen-xs-min) {
			font-size: 15px;
		}
	}

}

.connect{

	form{
		padding: 70px 0 30px;

		@media (max-width: $screen-sm-min) {
			padding: 0;
		}
	}

}